.about {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  min-height: 301px;
  margin-bottom: 120px;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: $small-desktop-width) {
    padding: 0 20px;
  }

  @media (max-width: $tablet-width) {
    min-height: 264px;
    padding: 0;
    margin-bottom: 97px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
    //min-height: 510px;
    margin-bottom: 65px;
  }
}

.about__wrapper-text {
  width: 45%;
  padding: 0;
  padding-top: 55px;
  margin: 0;

  @media (max-width: $tablet-width) {
    width: 48%;
    padding-top: 0;
    padding-left: 3px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 33px;
  }
}

.about__wrapper-text h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $text-dark-blue;

  @media (max-width: $tablet-width) {
    width: 64%;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    width: 66%;
    font-size: 24px;
    line-height: 34px;
  }
}

.about__wrapper-text p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-dark-blue;
}

.about__image {
  position: relative;
  width: 48%;
  height: 301px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    height: 264px;
    margin-left: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 186px;
    padding-top: 75%;
  }

  @media (max-width: $small-mobile-width) {
    padding-top: 0;
  }
}

.about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #b1bccd;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    top: 10px;
  }
}
