.header {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 1024px;
  width: 85vw;
  max-width: 1160px;
  min-height: 60px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $small-desktop-width) {
    padding: 0 20px;
  }

  @media (max-width: $tablet-width) {
    top: 25px;
    min-width: 678px;
    width: 88vw;
    min-height: 45px;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    top: 0;
    min-width: 290px;
    width: 100vw;
    min-height: 40px;
  }
}

.header--nojs,
.header--open {
  @media (max-width: $mobile-width) {
    position: relative;
    top: 0;
    background-color: #4975a3;
  }
}

.header--open {
  @media (max-width: $mobile-width) {
    min-height: 0;
  }
}
