.footer {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 138px;
  padding: 50px 0;
  margin: 0;
  background: $text-dark-blue;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    min-height: 120px;
    padding: 40px 0;
  }

  @media (max-width: $mobile-width) {
    min-height: 283px;
    padding: 15px 0;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: $tablet-width) {
    gap: 26px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.footer__logo {
  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-left: 0;
  }
}
