.footer {
  width: 100vw;
  height: min-content;
  min-height: 138px;
  padding: 50px 10px;
  background: $text-dark-blue;
  box-sizing: border-box;

  @media (width: $desktop-width-only) {
    padding: 50px 0;
  }

  @media (max-width: $tablet-width) {
    min-height: 120px;
    padding: 40px 0;
  }

  @media (max-width: $mobile-width) {
    min-height: 283px;
    padding: 15px 0;
    padding-top: 33px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 1160px;
  min-width: 980px;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  @media (max-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-left: 0;
  }
}

.footer__nav {
  padding-top: 8px;
  margin: 0 40px;

  @media (max-width: $tablet-width) {
    margin: 0 26px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 15px;
  }
}
